body {
    margin: 0;
    overflow-x: hidden;
    min-height: 100dvh;
    background: linear-gradient(1deg, #1C1C1C, #08463B);
    font-family: "Fira Code", monospace;
}

.legal-notice {
    flex: 1;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: thin;
    overflow-x: hidden;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    color: #3DCFB6;
    font-size: 16px;
    margin: 0px 216px 40px 216px;
}

.titles {
    color: white;
    font-size: 19px;
    font-weight: 700;
}

.legal-notice-title {
    text-align: center;
    font-family: "Fira Code", monospace;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 64px;
    margin-top: 140px;
}

a {
    color: #5dffe4;
    text-decoration: none;
}

.hidden {
    display: none;
}

.show {
    display: flex !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.active {
    background: #3DCFB6 !important;
}


.footer {
    height: auto !important;
    margin-top: 50px !important;
    background: transparent !important;
    padding: 0px 0px 0px !important;
}

@media(max-width:1250px) {
    .legal-notice {
        margin: 0px 60px;
    }

}

@media (max-width: 600px) {
    .legal-notice {
        margin: 0px 12px;
    }
}