@media (max-width: 600px) {

    .hero-buttons-container {
        margin-bottom: 120px;
    }

    .hero-content {
        gap: 15px;
    }

    .social-indicator-vector {
        height: 116px;
    }

    .profile-photo-background {
        height: 95%;
        transform: translate(8%, -4%);
        width: 84%;
        left: -3%;
        top: 12%;
    }

    .hero-name {
        font-size: 44px;
        white-space: normal;
    }

    .hero-content p {
        font-size: 24px;
        margin: 0px 20px 0px 20px;
    }

    .hero-buttons {
        margin-top: 0px;
        gap: 20px;
        width: 100%;
    }

    .scroll-indicator-vector {
        height: 68%;
    }

    .scroll-indicator-mouse {
        top: 10%;
    }

    .scroll-indicator {
       height: 300px;
    }

    .technologie-button {
        padding-top: 20px;
    }

    .ticker {
        padding: 10px 10px;
        bottom: 60px;
    }

    .ticker-track {
        gap: 20px;
        font-size: 20px;
    }

    .textbox-title {
        font-size: 38px;
        margin: 0px 0px 16px 0px;
    }

    .textbox-header-text {
        font-size: 18px;
    }

    .feedback-card-text {
        padding: 24px;
    }

    .quote-icon {
        top: -26px;
        left: 0px;
        width: 60px;
    }

    .portfolio-overlay-container h1 {
        font-size: 60px;
        line-height: 0.7;
    }

    .portfolio-overlay-container h2 {
        font-size: 54px;
        line-height: 1.2;
    }

    .portfolio-overlay-container h3 {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .portfolio-overlay {
        overflow-y: auto;
        padding: 78px 18px 0px;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
    }

    .portfolio-overlay-bottom {
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .project-link-container {
        justify-content: center;
        gap: 10px;
    }

    .project-link {
        padding: 10px 14px;
        gap: 6px;
    }

    .close-icon {
        top: 16px;
        right: 16px;
    }

    .hero-buttons a {
        min-width: 130px;
    }

    .mobile-break-title {
        display: inline;
    }

    .mindset-popup {
        width: 203px;
        height: 135px;
    }

    .footer {
               padding: 0px 20px 0px;
    }

    .footer-left .logo {
    padding-bottom: 46px;
}

    .footer-container {
        flex-wrap: wrap;
    }

    .footer-middle {
        width: 100%;
        text-align: center;
        order: 3;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .footer-left {
        order: 1;
    }

    .footer-right {
        order: 2;
    }

    .footer {
        height: auto;
    }

    .legal-notice-title {
        font-size: 36px;
    }
}