body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Fira Code", monospace;
}

html {
    scroll-behavior: smooth;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 96px;
}

.cursor-glow {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    pointer-events: none;
    background: rgba(61, 207, 182, 0.4);
    filter: blur(40px);
    mix-blend-mode: screen;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

main {
    flex: 1;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    overflow-x: hidden;
}

.snap-section {
    display: flex;
    min-height: 100vh;
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(1deg, #1C1C1C, #08463B);
}

header {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 96px;
}

.nav-links {
    display: flex;
    align-items: center;
    max-width: 1000px;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-family: "Fira Code", monospace;
    font-weight: 400;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 111px;
    height: 80px;
    margin-right: -27px;
}

.name {
    display: block;
    line-height: 1.1;
    font-size: 26px;
    font-weight: 900;
    color: white;
    font-family: "Karla", sans-serif;
}

h1 {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 128px;
}

.hero-content p {
    font-family: "Fira Code", monospace;
    font-weight: 400;
    font-size: 40px;
}

.hero-container {
    width: 100%;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.hero-content {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-buttons {
    display: inline-flex;
    justify-content: center;
    gap: 48px;
    font-family: "Karla", sans-serif;
}

.hero-buttons-container {
    margin-bottom: 70px;
}

.hero-buttons a {
    text-decoration: none;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 12px 28px;
    display: inline-block;
    overflow: hidden;
}

.btn-wrapper {
    position: relative;
    width: max-content;
}

.text {
    display: block;
    white-space: nowrap;
}

.btn-wrapper .text:last-child {
    position: absolute;
    top: 0;
    left: calc(100% + 200px);
}

.hero-buttons a:hover .btn-wrapper {
    animation: buttonScroll 3s linear infinite;
}

@keyframes buttonScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 200px));
    }
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.language-switch {
    text-decoration: none;
    color: white;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    display: flex;
    gap: 0px;
    transition: ease-in-out 0.2s;
}

.language-switch:hover {
    border: 1px solid white;
}

.language-switch a {
    color: white;
    text-decoration: none;
    padding: 4px 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#english {
    border-radius: 100px;
    padding: 4px 12px;
    color: rgba(61, 207, 182, 0.5);
}

#german {
    border-radius: 100px;
    padding: 4px 12px;
    color: rgba(61, 207, 182, 0.5);
}

.active-lang {
    background-color: #3DCFB6;
    color: white !important;
    font-weight: 700;
}

.nav-text {
    position: relative;
}

.nav-text:after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #3DCFB6;
    border-radius: 30px;
    position: absolute;
    bottom: -15px;
    left: 40%;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.nav-text:hover::after {
    opacity: 1;
    position: absolute;
    bottom: -15px;
    left: 40%;
}

.github-container {
    position: relative;
    top: 0px;
    right: 0px;
}

.github-hover-icon {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.github-hover-icon:hover {
    opacity: 1;
}

.linkedIn-container {
    position: relative;
    top: 0px;
    right: 0px;
}

.linkedIn-hover-icon {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.linkedIn-hover-icon:hover {
    opacity: 1;
}

.ticker-wrapper {
    overflow: hidden;
}

.ticker {
    width: 110%;
    left: -5%;
    overflow: hidden;
    position: absolute;
    padding: 20px 20px;
    bottom: 60px;
    transform: rotate(-3deg);
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(5px);
}

.ticker-track {
    color: rgba(61, 207, 182, 1);
    display: inline-flex;
    align-items: center;
    gap: 56px;
    font-size: 32px;
    white-space: nowrap;
    animation: scroll 25s linear infinite;
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.scroll-indicator {
    width: 30px;
    height: 48px;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-left: 40px;
}

.scroll-indicator a {
    height: 40vh;
    width: 100%;
}

.scroll-indicator:hover {
    border: 1px solid white;
}

.scroll-indicator-arrow {
    position: absolute;
    left: 10px;
    bottom: 30%;
    animation: float 1.2s ease-in-out infinite;
}

.scroll-indicator-vector {
    position: absolute;
    width: 1px;
    height: 240px;
    background-color: #3DCFB6;
    left: 12px;
    top: 70px;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.hero-social {
    position: absolute;
    right: 0;
    top: 58%;
    width: 2px;
    color: white;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin-right: 50px;
}

.hero-email {
    font-family: "Karla", sans-serif;
    display: inline-block;
    transform: rotate(-90deg);
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
}

.hero-email:hover {
    color: #3DCFB6;
}

.hero-social-icons {
    display: flex;
    flex-direction: column;
    height: 32px;
    width: 32px;
    gap: 12px;
}

.social-indicator-vector {
    width: 1px;
    height: 170px;
    margin-top: 50px;
    background-color: #3DCFB6;
}

.social-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-me {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #1C1C1C;
}

.about-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 112px 0px 112px;
    gap: 60px;
}

.profile-photo {
    max-width: 480px;
    width: 100%;
    border-radius: 30px;
    height: auto;
    position: relative;
    object-fit: cover;
    z-index: 2;
}

.profile-image-wrapper {
    position: relative;
    width: fit-content;
}

.profile-photo-background {
    z-index: 0;
    position: absolute;
    height: 100%;
    inset: 0;
    transform: translate(-5%, -5%);
    width: 100%;
}

.about-right {
    flex: 1;
    color: white;
}

.about-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.textbox-header-text {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    color: #3DCFB6;
    font-size: 24px;
}

.textbox-text-container {
    width: 100%;
    border: 1px solid rgba(61, 207, 182, 1);
    border-radius: 30px;
    background: rgba(61, 207, 182, 0.1);
    padding: 30px;
}

.textbox-title {
    color: #3DCFB6;
    font-size: 64px;
    margin: 0px 0px 32px 0px;
}

.textbox-text {
    font-size: 18px;
    line-height: 1.4;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    color: white;
}

.about-item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-family: "Karla", sans-serif;
}

.about-item-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}

.textbox-icon {
    width: 32px;
    height: 32px;
}

.technologies {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background:
        radial-gradient(circle at left,
            rgba(8, 70, 59, 0.25) 0%,
            rgba(8, 70, 59, 0.1) 20%,
            transparent 40%) #1C1C1C;

}

.technologies-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 96px 0px 96px;
    gap: 96px;
}

.technologies-left {
    flex: 1;
    color: white;
}

.technologies-right {
    flex: 1;
}

.skillset-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    max-width: 632px;
    height: 428px;
}

.skillset-icons img {
    width: 104px;
    height: 116px;
}

.skillset-icon:hover {
    transform: scale(1.1);
}

.popup-container {
    position: relative;
}

.mindset-popup {
    text-align: center;
    position: absolute;
    opacity: 0;
    width: 220px;
    height: 140px;
    background-color: white;
    border-radius: 20px;
    top: -150px;
    transition: opacity 0.25s ease-in-out;
}

.mindset-popup::after {
    content: "";
    position: absolute;
    bottom: -52px;
    left: 25%;
    transform: translateX(-50%);
    border-width: 27px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.mindset-popup p {
    padding-top: 10px;
    color: rgba(61, 207, 182, 1);
    font-size: 16px;
}

.mindset-popup img {
    width: 100px;
    height: 60px;
    position: absolute;
    top: 64px;
    left: 26%;
}

.popup-container:hover .mindset-popup {
    opacity: 1;
}

.skill-span {
    font-size: 24px;
    color: #3DCFB6;
}

.skill-text {
    padding: 32px 0px 16px 0px;
    font-size: 24px;
    font-weight: 700;
}

.technologie-button {
    padding-top: 40px;
}

.portfolio {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background: #1C1C1C;
}

.portfolio-container {
    max-width: 1440px;
    width: 880px;
    height: 565px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 96px;
}

.project-title {
    margin: 0;
}

.portfolio-text {
    font-size: 18px;
    line-height: 1.4;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    padding: 41px 0px;
    color: white;
}

.project-list {
    width: 880px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-family: "Fira Code", monospace;
}

.portfolio-overlay {
    display: flex;
    background: linear-gradient(1deg, #1C1C1C, #08463B);
    width: 100%;
    max-width: 1400px;
    max-height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #3DCFB6;
    border-radius: 38px;
    font-family: "Karla", sans-serif;
}

.portfolio-overlay-container {
    display: flex;
    margin: 96px;
    gap: 88px;
}

.portfolio-overlay-left,
.portfolio-overlay-right {
    flex: 1;
}

.close-icon {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.close-icon::before,
.close-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 2px;
    background: white;
    transform-origin: center;
}

.close-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close-icon:hover {
    transition: transform 0.2s ease;
    transform: rotate(90deg) scale(1.4);
}

.hidden {
    display: none;
}

.show {
    display: flex !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.overlay-backdrop {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
}

.overlay-backdrop.activeshow {
    opacity: 1;
    pointer-events: all;
    z-index: 999;
}

.portfolio-overlay-container h1 {
    color: #3DCFB6;
    font-size: 128px;
}

.portfolio-overlay-container h2 {
    color: white;
    font-size: 64px;
    font-family: "Fira Code", monospace;
    font-weight: 700;
}

.portfolio-overlay-container h3 {
    color: #3DCFB6;
    font-family: "Fira Code", monospace;
    font-weight: 700;
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.portfolio-overlay-left p {
    color: white;
    font-size: 18px;
}

.project-link-container {
    display: flex;
    align-items: center;
    padding-top: 40px;
    gap: 32px;
}

.project-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 1px solid #FFFFFF;
    font-size: 18px;
    border-radius: 30px;
    padding: 12px 28px;
    gap: 10px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.project-link:hover {
    border: 1px solid rgba(61, 207, 182, 1);
    color: rgba(61, 207, 182, 1);
}

.project-link img {
    transition: transform 0.2s ease;
}

.project-link:hover img {
    transform: translate(2px, -2px);
}

.portfolio-overlay-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-icons {
    display: flex;
    gap: 10px;
    padding-top: 32px;
}

.Join-screenshot {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 32px;
}

.join-hover-img {
    width: 400px;
    height: 220px;
    position: absolute;
    top: 40%;
    right: 20%;
    border-radius: 12px;
}

.hover-images {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
}

#join:hover .hover-images {
    opacity: 1;
}

.background-join {
    width: 401px;
    height: auto;
    position: absolute;
    top: 42%;
    right: 19%;
    border-radius: 12px;
}

.background-el_pollo {
    width: 401px;
    height: 230px;
    position: absolute;
    top: 50%;
    right: 19%;
    border-radius: 12px;
}

.el-pollo-hover-img {
    width: 400px;
    height: 220px;
    position: absolute;
    top: 48%;
    right: 20%;
    border-radius: 12px;
}

#el_pollo_loco:hover .hover-images {
    opacity: 1;
}

.project {
    height: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #3DCFB6;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.project-name {
    padding: 40px 0px 40px 32px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.project-name::after {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url("./img/icons/arrow_outward_whte.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.4s ease;
}

.project:hover .project-name::after {
    opacity: 1;
    transform: translateX(0);
}

.tech span:not(:last-child)::after {
    content: "|";
    color: #3DCFB6;
    margin-left: 8px;
}

.project:hover {
    background: rgba(61, 207, 182, 0.2)
}

.tech {
    padding-right: 32px;
}

.colleagues {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #1C1C1C;
}

.colleagues-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.feedback-wrapper {
    position: relative;
    width: 100%;
}

.splide {
    width: 100%;
}

.splide__track {
    overflow: visible !important;
}

.splide__slide {
    height: 274px;
    opacity: 0.4;
    transform: scale(0.9);
    transition: all 0.3s ease;
}

.splide__slide.is-active {
    opacity: 1;
    transform: scale(1);
}

.splide__pagination {
    display: none;
}

.feedback-wrapper::before,
.feedback-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10vw;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.feedback-wrapper::before {
    left: 0;
    background: linear-gradient(to right, #0f0f0f, transparent);
}

.feedback-wrapper::after {
    right: 0;
    background: linear-gradient(to left, #0f0f0f, transparent);
}

.feedback-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 274px;
    width: 100%;
    border: 1px solid rgba(61, 207, 182, 1);
    border-radius: 30px;
    background: rgba(61, 207, 182, 0.3);
    position: relative;
    font-size: 18px;
    line-height: 1.4;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
}

.feedback-title {
    color: #3DCFB6;
    font-size: 32px;
}

.quote-icon {
    position: absolute;
    top: -11px;
    left: -44px;
}

.feedback-card-text {
    color: white;
    padding: 48px 48px 48px 48px;
}

.feedback-footer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 30px;
    font-size: 16px;
}

.feedback-line {
    background: white;
    height: 1px;
    width: 360px;
}

.splide__list {
    display: flex;
}

.slide-menu {
    display: flex;
    justify-content: space-between;
    width: 184px;
    height: 40px;
}

.slide-arrow {
    cursor: pointer;
}

.slide-dots {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dot {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 30px;
    cursor: pointer;
}

.active {
    background: #3DCFB6;
}

.contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #1C1C1C;
}

.contact-container {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    color: #3DCFB6;
    margin: 96px;
    font-size: 24px;
    gap: 64px;
    align-content: center;
}

.contact-left {
    flex: 1;
}

.contact-title {
    font-size: 64px;
    line-height: 1.0;
    padding-top: 20px;
    padding-bottom: 40px;
}

.contact-description {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 1.2;
    padding-top: 16px;
}

.contact-description-span {
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
}

.contact-right {
    flex: 1;

}

.contact-right h3 {
    font-family: "Fira Code", monospace;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    padding-top: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
}

.contact-right p {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: white;
    padding-bottom: 32px;
    padding-left: 32px;
}

.contact-field {
    display: block;
    position: relative;
    border-top: 1px solid #3DCFB6;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-bottom: -1px;
}

.contact-field:hover {
    background: rgba(61, 207, 182, 0.2);
}

.contact-field:hover .contact-input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.help-field {
    border-bottom: 1px solid #3DCFB6;
}

.contact-checkbox {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 24px;
    gap: 8px;
}

.contact-checkbox input {
    border-color: 1px solid #3DCFB6;
}

.contact-checkbox-text {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    color: white;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.custom-checkbox input {
    display: none;
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #3DCFB6;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    background: transparent;
}

.custom-checkbox input:checked+.checkmark {
    background: #3DCFB6;
    border-color: #3DCFB6;
}

.custom-checkbox input:checked+.checkmark::after {
    content: "✔";
    position: absolute;
    color: white;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.contact-button {
    width: 100%;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}

.contact-input {
    width: 100%;
    background: transparent;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border: 0px;
    padding-bottom: 32px;
    padding-left: 32px;
    cursor: pointer;
}

.contact-input:focus {
    outline: none;
}

.contact-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


.footer {
    height: 126px;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin-top: auto;
}

.footer-container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-left {
    gap: 32px;
}

.footer-left .logo {
    padding-bottom: 32px;
}

.footer-left p {
    padding-bottom: 8px;
}

.footer-middle {
    font-family: "Fira Code", monospace;
    font-size: 18px;
    color: #3DCFB6;
}

.footer-right p {
    padding-bottom: 8px;
}

.error-message {
    font-size: 18px;
    color: rgba(236, 123, 123, 0.8) !important;
    position: absolute;
    bottom: 0px;
    opacity: 0;
}

.submit {
    border-top: 1px solid #ff4d4d;
    border-bottom: 1px solid #ff4d4d !important;
    z-index: 999;
}

.mobile-break {
    display: none;
}

.mobile-menu {
    display: none;
}

.mobile-overlay {
    position: fixed;
    top: 7%;
    right: 3%;
    width: 240px;
    height: 260px;
    background: linear-gradient(1deg, #1C1C1C, #08463B);
    border: 1px solid #3DCFB6;
    border-radius: 30px;
}

.mobile-overlay-container {
    position: fixed;
    inset: 0;
    background: transparent;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-overlay-container.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mail-icon,
.mail-icon-hover {
    display: none;
}

@media (max-width: 1250px) {
    .hero-name {
        font-size: 100px;
        white-space: normal;
    }

    .mobile-break {
        display: inline;
    }

    .textbox-title {
        font-size: 3rem;
    }

    .textbox-text {
        font-size: 1rem;
    }

    .about-container {
        margin: 0px 40px 0px 40px;
        gap: 60px;
    }

}

@media (max-width: 800px) {
    .hero-name {
        font-size: 80px;
        white-space: normal;
    }

    .nav-left {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .nav-text:after {
        display: none;
    }

    .nav-links {
        flex-direction: column;
    }

    .name {
        display: none;
    }

    .hero-social {
        top: 79%;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        right: 40px;
    }

    .logo-img {
        position: absolute;
        left: 40px;
    }

    .mail_mobile {
        position: relative;
        top: 10px;
        right: 14px;
    }

    .mail-icon {
        display: block;
        position: absolute;
        opacity: 1;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }

    .mail-icon-hover:hover {
        opacity: 1;
    }

    .mail-icon-hover {
        display: block;
        position: absolute;
        opacity: 0;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }

    .mail_mobile::after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #3DCFB6;
        border-radius: 30px;
        position: absolute;
        bottom: -18px;
        left: 36px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        right: 0px;
    }

    .mail_mobile:hover::after {
        opacity: 1;
    }

    .hero-email {
        display: none;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0px 16px 0px 16px;
        gap: 60px;
    }

    .about-me {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .textbox-text-container {
        padding: 32px 16px 32px 16px;
    }


    .profile-photo {
        max-width: 400px;
        width: 80%;
        height: auto;
        position: relative;
        z-index: 2;
    }

    .profile-photo-background {
        z-index: 0;
        position: absolute;
        height: 100%;
        inset: 0;
        transform: translate(8%, -4%);
        width: 80%;
    }

    .profile-image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .technologies-container {
        flex-direction: column;
        align-items: stretch;
        padding: 16px;
        gap: 40px;
        margin: 0px;
    }

    .skill-text,
    .skill-span {
        padding-top: 20px;
        padding-left: 0px;
        padding-bottom: 16px;
        font-size: 18px;
        text-align: center;
    }

    .skillset-icons {
        display: flex;
        flex-wrap: wrap;
        gap: 72px;
        max-width: 632px;
        height: 100%;
    }

    .portfolio-container {
        width: 100%;
        height: auto;
        margin: 32px 16px 32px 16px;
    }

    .portfolio-text {
        padding: 20px 0px;
    }

    .project-list {
        width: 100%;
    }

    .project {
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    .project-name {
        padding: 16px 0px 10px 0px;
        font-size: 24px;
        display: flex;
        align-items: center;
    }

    .tech span:not(:last-child)::after {
        margin-left: 2px;
    }

    .tech {
        padding-right: 0px;
        padding-bottom: 16px;
    }

    .portfolio-overlay {
        display: flex;
        justify-content: center;
        background: linear-gradient(1deg, #1C1C1C, #08463B);
        width: calc(100% - 32px);
        max-width: 1400px;
        max-height: 100vh;
        padding: 80px 24px 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #3DCFB6;
        border-radius: 38px;
        font-family: "Karla", sans-serif;
    }


    .portfolio-overlay-container {
        flex-direction: column-reverse;
        margin: 16px;
        gap: 0px;
    }

    .portfolio-overlay-container h1 {
        font-size: 76px;
    }

    .Join-screenshot {
        width: 50%;
    }

}

@media (max-width: 600px) {

    .hero-content {
        gap: 15px;
    }

    .hero-name {
        font-size: 44px;
        white-space: normal;
    }

    .hero-content p {
        font-size: 24px;
        margin: 0px 20px 0px 20px;
    }

    .hero-buttons {
        margin-top: 0px;
        gap: 20px;
        width: 100%;
    }

    .technologie-button {
        padding-top: 20px;
    }

    .ticker {
        padding: 10px 10px;
        bottom: 35px;
    }

    .ticker-track {
        gap: 20px;
        font-size: 20px;
    }

    .textbox-title {
        font-size: 2rem;
        margin: 0px 0px 16px 0px;
    }

    .textbox-header-text {
        font-size: 18px;
    }

}